// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fondamento&family=Merienda:wght@300&display=swap');

main{
  background-image:
    linear-gradient(to bottom, rgba(234, 235, 202, 0.22), rgba(86, 80, 80, 0.212));
    background-size: cover;
    color: white;
    padding: 20px;
}

@font-face {
  font-family: 'Cinzel', serif;
  font-family: 'Fondamento', cursive;
  font-family: 'Merienda', cursive;
}

.text-history {
  font-family: 'Merienda';
}

.text-emphasis {
  font-family: 'Fondamento';
}

.text-normal {
  font-family: 'Cinzel';
}


.WAL {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.WAL:before {
  content: '';
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background: radial-gradient(circle, #80543e 15%, #550C18 75%, #280309 100%); width: 100%;
  object-fit: cover;
}

.WAL__layout {
  margin: 0 auto;
  z-index: 4000;
  height: 100%;
  width: 90%;
  max-width: 1580px;
  border-radius: 5px;
}

.WAL__field.q-field--outlined .q-field__control:before {
  border: none;
}

.WAL .q-drawer--standard .WAL__drawer-close {
  display: none;
}

@media (max-width: 850px) {
  .WAL {
    padding: 0;
  }

  .WAL__layout {
    width: 100%;
    border-radius: 0;
  }
}

@media (min-width: 691px) {
  .WAL__drawer-open {
    display: none;
  }
}

.conversation__summary {
  margin-top: 4px;
}

.conversation__more {
  margin-top: 0 !important;
  font-size: 1.4rem;
}